<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Cheng-Hsiang Chiu</span>, a first-year Ph.D. student in the <a href="https://www.ece.utah.edu/">Department of Electrical and Computer Engineering</a> at <a href="https://www.utah.edu/">University of Utah</a>.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:u1305418@gmail.com" target="_blank" class="highlight-link">u1305418@utah.edu</a>
    </span>
  </h3>
</header>
